doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Authorization
    link(rel="stylesheet", href="/css/login.css")
  body 
    div.container
      a#google(href="/auth/google") Sign Up Using Google
    div.container
      a#facebook(href="/auth/facebook") Sign Up Using Facebook